CompileFlags:
  Compiler: clang++
  CompilationDatabase: ./build

Diagnostics:
  Includes:
    IgnoreHeader:
      - .*?__
    MissingIncludes: None
  ClangTidy:
    Add: 'bugprone-*'
    Add: 'clang-analyzer-*'
    Add: 'cert-*'
    Add: 'cppcoreguidelines-*'
    Add: 'modernize-*'
    Add: 'openmp-*'
    Add: 'performance-*'
    Add: 'readability-*'
    Add: 'portability-*'
    Add: 'misc-const-correctness'
    Add: 'misc-include-cleaner'
    Add: 'misc-static-assert'
    Add: 'misc-redundant-expression'
    Remove: 'bugprone-easily-swappable-parameters'

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Index:
  Background: Build
  StandardLibrary: Yes
