BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false # This should be a crime
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ColumnLimit: 100

  ## Indents
IndentWidth: 4
TabWidth: 4
BracedInitializerIndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentAccessModifiers: false


  ## Pointers
PointerBindsToType: false
PointerAlignment: Left
DerivePointerAlignment: true

  ## Clean code
AlignOperands: AlignAfterOperator
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  DecimalMinDigits: 5
  Hex: 0


# Functions
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakFunctionDefinitionParameters: false


AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BitFieldColonSpacing: Both
BreakInheritanceList: AfterComma
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLineOnly
CompactNamespaces: true
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
MaxEmptyLinesToKeep: 4

  ## Includes
IncludeBlocks: Regroup

KeepEmptyLinesAtTheStartOfBlocks: false
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
SpacesBeforeTrailingComments: 1
SpaceBeforeCpp11BracedList: true
